= "Dear #{@user.first_name} #{@user.last_name}"

This is a confirmation for your payment.
= "Payment number is #{@number}"

= @user.first_name
= @user.last_name
= @user.email
= @user.phone
= @user.microsite
