= "Dear #{@form['first_name']} #{@form['last_name']}"

This is a confirmation for your payment.
= "Payment number is #{@number}"

= @form['first_name']
= @form['last_name']
= @form['email']
= @form['phone']
= @form['microsite']
